{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">
    <div class="wrapper">
        <div class="header">
            <div class="logo gold-text">
                Плитка для всех
            </div>
            <ul class="main-menu">
                <li class="main-menu-item">
                    <a href="{% url 'main' %}" class="main-menu-link gold-text">Главная</a>
                </li>
                <li class="main-menu-item">
                    <a href="#" class="main-menu-link gold-text">Каталог</a>
                </li>
                <li class="main-menu-item">
                    <a href="#" class="main-menu-link gold-text">Контакты</a>
                </li>
            </ul>
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div class="footer">
        <span>&copy; SMozheiko</span>
    </div>
</div>
{% block js %}
{% endblock %}
</body>
</html>